# Copy this file to .env and fill in the values
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=*

# DATABASE_URL=postgresql://user:password@localhost:5432/petroleum_db

# AES_256_GCM_KEY=

# CORS_ALLOWED_ORIGINS=http://localhost:3000
# FRONTEND_URL=http://localhost:3000
# FRONTEND_HOST=
# BACKEND_HOST=
# LAN QR testing example: http://192.168.1.105:8000
# QR_VERIFICATION_BASE_URL=

# SMTP_EMAIL_HOST=
# SMTP_EMAIL_PORT=587
# SMTP_EMAIL_USER=
# SMTP_EMAIL_PASSWORD=
# SMTP_EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=no-reply@pbpa.local

MFA_ENABLED=False
